<div class="container mt-5">
    <h1 class="text-center">Editing Section</h1>

    <%= render 'form', section: @section %>

    <br>
    <%= link_to 'Show', @section %> |
    <%= link_to 'Back', sections_path %>
<div>