
<div class="container">
  <div class="row">
    <div class="col">
     <%= render 'leftbar' %>
    </div>
    <div class="col-6">
     <%= render 'example' %>
    </div>
    <div class="col">
     <%= render 'cities' %>
    </div>
  </div>
  <br>
</div>

  <div>
<%= link_to 'New Section', new_section_path %>
</div>