<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<%= render 'leftbar' %>
</nav>

<h1>Sections</h1>

<%= render 'example' %>
<%= render 'cities' %>

<%= link_to 'New Section', new_section_path %>
</div>
