<div class= "mt-10 container">
    <h1 class="text-center">Editing Category</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Show', @category %> |
    <%= link_to 'Back', categories_path %>
</div>
